<% if (results.error) { %>
  <p><%= results.error.status %> : <%= results.error.error %></p>
<% } else { %>
  <p><%= results.total + (results.total == 1 ? " result" : " results") %> found for '<%= query %>'</p>
  <ol>
    <% results.hits.forEach(function(result){ %>
    <li><a href="<%= result._source.url %>"><%= result._source.title %></a></li>
    <% }); %>
  </ol>
<% } %>
